<!DOCTYPE html>
<html>
<head>
  <title>Get Involved</title>
</head>

<body>
  <div id="header" style="width: 80%; margin: center">
    <span style="font-size: 24pt; padding-left: 60pt; margin-top: 100pt;"><b>Get Involved</b></span>
    <br/> <br/> <br/> <br/>

    <span style="font-size: 20pt; padding-left: 60pt">Enter the Communications X-Change Awards Contest</span>
    <br/> <br/>

    <p style="font-size: 16pt; padding-left: 50pt; line-height: 190%"> <a href="http://xchange.gwu.edu/communicationsawards2015" style="color: deepskyblue">Submit </a> your communications materials designed to end violence against women and girls to the 2016
      Communications X-Change Awards contest today. <br/>The Global Women’s Institute will be accepting materials until November 25, 2016,
      International Day for the Elimination of Violence against Women. </p>

  <p style="font-size: 16pt; padding-left: 50pt">A panel of experts will evaluate the submissions and select the winners. Three separate awards will be given for a total of $9,000 in prize money. </p>
  <br/> <br/>
    <span style="font-size: 20pt; padding-left: 60pt"> Past Award Recipients</span> <br/>
    <hr> <br/> <br/>
    <span style="font-size: 20pt; padding-left: 60pt"> Innovative Campaign Award</span> <br/> <br/>
    <p style="font-size: 16pt; padding-left: 50pt; line-height: 190%">The Innovative Campaign Award recognizes innovative and original approaches to presenting messages on ending violence against women and girls  <br/> through the best information technology and/or mobile phones. </p>
</div>
<div id="left-side" style="float: left">
  <img src="http://xchange.gwu.edu/assets/awards-images-2015/1-c94da7a3b6f62035cd66b6fde1c25455.jpg" style="padding-left: 100pt; height: 400px"/>
  <div id="right-side" style="float: right; padding-left: 60pt">
      <span style="font-size: 20pt; line-height: 100%; color: green"><b>Centre for Research and Education on Violence <br/>against Women and Children (Canada) </b></span> <br/> <br/>
      <span style="font-size: 14pt; line-height: 150%"> The Centre for Research and Education on Violence Against Women and Children (CREVAWC), <br/> founded in 1992 as a collaboration between The University of Western Ontario,
        Fanshawe College <br/>and the London Coordinating Committee to End Women Abuse and now a part the Faculty of Education <br/> at the University of Western Ontario, facilitates and conducts
        research and provides public education <br/>and community development in order to assist local, national, and international communities in preventing <br/> and stopping violence towards women
        and children and vulnerable adults. The Centre’s Make it Our Business <br/> campaign provides information and education to help employers and other workplace stakeholders prevent <br/> and respond
         to domestic violence in the workplace. In November 2014, Make It Our Business released<br/> a series of digital stories to help workers and employers dealing with domestic violence. <br/> <br/>
         These short videos feature dramatizations of employers and co-workers talking about their successes <br/> and challenges supporting an employee/colleague experiencing domestic violence, as well <br/>
         as the perspectives of a woman experiencing abuse and a man perpetrating abuse.</span> <br/>
  </div>
</div>
<br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/><br/> <br/> <br/>
<hr>
<br/>






</body>
