<!DOCTYPE html>
<html>
<head>
  <title>Get Involved</title>
</head>

<body>
  <div id="header" style="width: 80%; margin-top: 3%">
    <span style="font-size: 24pt; padding-left: 60pt;"><b>Get Involved</b></span>
    <br/> <br/> <br/> <br/>

    <span style="font-size: 20pt; padding-left: 60pt">Enter the Communications X-Change Awards Contest</span>
    <br/>

    <p style="font-size: 16pt; padding-left: 50pt; line-height: 150%; width: 100%"> <a href="http://xchange.gwu.edu/communicationsawards2015" style="color: deepskyblue">Submit </a> your communications materials designed to end violence against women and girls to the 2016
      Communications X-Change Awards contest today. The Global Women’s Institute will be accepting materials until November 25, 2016,
      International Day for the Elimination of Violence against Women. <br/> <br/> A panel of experts will evaluate the submissions and select the winners. Three separate awards will be given for a total of $9,000 in prize money. </p>
  <br/>
    <span style="font-size: 20pt; padding-left: 60pt"> <b>Past Award Recipients </b></span>
    <hr>
    <span style="font-size: 18pt; padding-left: 60pt"> Innovative Campaign Award</span>
    <p style="font-size: 16pt; padding-left: 50pt; width: 100%; line-height: 150%">The Innovative Campaign Award recognizes innovative and original approaches to presenting messages on ending violence against women and girls through the best information technology and/or mobile phones. </p>
</div>
<div id="outer">
  <div id="left-side" style="float: left; width: 50%; box-sizing: border-box">
    <img src="http://xchange.gwu.edu/assets/awards-images-2015/1-c94da7a3b6f62035cd66b6fde1c25455.jpg" style="height: 400px; max-width: 100%; position: relative; padding-left: 60pt"/>
  </div>
  <div id="right-side" style="float: left; width: 50%; box-sizing: border-box; padding-left: 20pt; padding-right: 20pt">
      <span style="font-size: 20pt; line-height: 100%; color: green"><b>Centre for Research and Education on Violence against Women and Children (Canada) </b></span> <br/>
      <span style="font-size: 14pt; line-height: 150%;"> The Centre for Research and Education on Violence Against Women and Children (CREVAWC), founded in 1992 as a collaboration between The University of Western Ontario,
        Fanshawe College and the London Coordinating Committee to End Women Abuse and now a part the Faculty of Education at the University of Western Ontario, facilitates and conducts
        research and provides public education and community development in order to assist local, national, and international communities in preventing and stopping violence towards women
        and children and vulnerable adults. The Centre’s Make it Our Business campaign provides information and education to help employers and other workplace stakeholders prevent and respond
         to domestic violence in the workplace. In November 2014, Make It Our Business released a series of digital stories to help workers and employers dealing with domestic violence.
         These short videos feature dramatizations of employers and co-workers talking about their successes and challenges supporting an employee/colleague experiencing domestic violence, as well
         as the perspectives of a woman experiencing abuse and a man perpetrating abuse.</span> <br/>
         <br/> </br>
         <!--tacos are cool but sometimes I feel like they're purposely trying to ruin your day by breaking when you're awkwardly tilting your head
         sideways but it's chill because they're good but also why you gotta play a girl like that tho-->
  </div>
</div>
<hr>
<br/>






</body>
