<div class="section">
  <div id="title">
    <p id="main-title">Global Women's Institute</p>
    <p id="sub-title">A Place to X-Change, View and Download Resources to End Worldwide Violence Against Women and Girls</p>
  </div>

  <!-- carousel -->
  <div id="main-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://xchange.gwu.edu/assets/large_hero_women-bd81b87ea52e539f32112b67afdd8ec4.jpg" alt="image">
        <div class="carousel-caption">Caption2</div>
      </div>
      <div class="item">
        <img src="http://xchange.gwu.edu/assets/feature_1_hero-9f6da7f8d343c5e1cb6c75168a060c94.jpg" alt="image">
        <div class="carousel-caption">Caption1</div>
      </div>
      <div class="item">
        <img src="http://xchange.gwu.edu/assets/feature_2_hero-3de48bf6310665679ae19ce34065594a.jpg" alt="image">
        <div class="carousel-caption">Caption1</div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> 
</div>

<div class="section">
  <div id="mission" class="center block" id="block2">
    <h2>Our Mission</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum augue. Aliquam convallis mi at molestie ornare. Cras suscipit orci eu ullamcorper commodo. Nunc risus lorem, dictum vitae metus eu, auctor molestie metus. Vestibulum ornare metus risus, a convallis purus molestie ac. Integer leo nibh, fringilla at libero eget, aliquet dapibus lorem. Morbi vulputate nibh nec risus vestibulum feugiat. Maecenas vulputate laoreet enim, sed mattis est faucibus sed.
  </div>

<div id="mission" class="center block" id="block2">
  The Global Women’s Institute (GWI) at the George Washington University launched in the Fall of 2012 as a university-wide initiative to advance gender equality through interdisciplinary research, education, and policy and outreach. GWI serves as a catalyst for action, linking faculty and students with international researchers, practitioners, activists, and policymakers to end violence against women and girls, empower women economically, and increase women’s participation and leadership in society.
>>>>>>> 37f9a2a65547f7a5b3f40932d28b69a1e64f3d35
</div>

<div id="mission" class="center block" id="block2"><b><i>Click on a region of the map to find out more about how violence affects women there.</b></i>
</div>




       <div style="width: 100%;">
        <div style="float: left; width: 33.3%;">
        <a href="http://www.ovw.usdoj.gov/"><img src="http://imgur.com/hzwR7jB.jpeg" class="img-responsive"></a>
      </div>
      <div style="float: left; width: 33.3%;">
        <a href="http://www.ovw.usdoj.gov/"><img src="http://imgur.com/si35PzT.jpeg" class="img-responsive"></a>
      </div>
      <div style="float: left; width: 33.3%;;">
        <a href="http://endabuse.org/content/news/detail/1092/"><img src="http://imgur.com/OuFQGg1.jpeg" class="img-responsive"></a>
      </div>
      <br style="clear: left;">
       <div style="width: 100%;">
        <div style="float: left; width: 33.3%;">
          <a href="http://www.rainn.org/statistics"><img src="http://imgur.com/DwCiYjf.jpeg" class="img-responsive"></a>
        </div>
        <div style="float: left; width: 33.3%;">
          <a href="http://www.vaw.umn.edu/sxasault.asp"><img src="http://imgur.com/4Fjgv0L.jpeg" class="img-responsive"></a>
        </div>
        <div style="float: left; width: 33.3%;;">
          <a href="http://www.who.int/mediacentre/factsheets/fs239/en/index.html"><img src="http://imgur.com/7I7EFib.jpeg" class="img-responsive"></a>
        </div>
        <br style="clear: left;">
      </div>
<div id="resources">
  <div class="col-md-4 square-block">
    <div class="thumbnail">
      <img class="wide-rect-img-sm" src="https://globalwomensinstitute.gwu.edu/sites/globalwomensinstitute.gwu.edu/files/styles/large-hero/public/image/DSC_0276.JPG?itok=rGJJZLtw" />
      <div class="caption text-center">
        <h4>Learn about our Cause</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 square-block">
    <div class="thumbnail">
      <img class="wide-rect-img-sm" src="https://globalwomensinstitute.gwu.edu/sites/globalwomensinstitute.gwu.edu/files/styles/large-hero/public/image/GWToday%20SS.jpg?itok=yYTmLhjb" />
      <div class="caption text-center">
        <h4>Our Current Journey</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4 square-block">
    <div class="thumbnail">
      <img class="wide-rect-img-sm" src="https://globalwomensinstitute.gwu.edu/sites/globalwomensinstitute.gwu.edu/files/styles/large-hero/public/image/GWI_Lancet_UP_2014-WLA_4577.jpg?itok=ZKSlZ_tf" />
      <div class="caption text-center">
        <h4>Get Involved</h4>
      </div>
    </div>
  </div>
</div>

        <br style="clear: left;">
      </div>
