
<div id="search">
<input id="query" name="query" type="text">

  <div class="search_dropdown dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenucountry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Country
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenucountry">
      <li><a href="">Afghanistan</a></li>
      <li><a href="">Algeria</a></li>
      <li><a href="">Bulgaria</a></li>
      <li><a href="">Canada</a></li>
    </ul>
  </div>

  <div class="search_dropdown dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenucountry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Language
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenucountry">
      <li><a href="">English</a></li>
      <li><a href="">Albanian</a></li>
      <li><a href="">Bulgarian</a></li>
      <li><a href="">Catalan</a></li>
    </ul>
  </div>


  <div class="search_dropdown dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Communications Medium
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="">Multimedia</a></li>
      <li><a href="">Print</a></li>
      <li><a href="">Billboard / Outdoor</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="">Other</a></li>
    </ul>
  </div>
 <button id="search_btn" name="search" type="submit">Search</button>
</div>
<a href="https://upload.wikimedia.org/wikipedia/commons/3/37/CorgiRunning.jpg" data-lightbox="roadtrip">Image #2</a>
