/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lightbox
 *= require_tree .
 *= require_self
 */
body {
	margin: 80px 0px;
}

div.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.block {
	display: block;
	clear: both;
	padding: 30px 200px;
}

#footer {
	background-color: #033C5A;
	color: white;
	padding: 25px;
	font-size: 18pt;
	line-height: 100%;
}

#footer-nested {
	font-size: 11pt;
	padding-top: 10px;
	padding-left: 30px;
}

#main-carousel, #title {
	width: 50%;
	display: inline-block;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 400px;
	width: 1000px;
}

#title {
	float: left;
}

#main-title {
	font-size: 100px;
	line-height: 90px;
}

#main-carousel {
	float: right;
	margin-bottom: 30px;
}

#mission {
	font-size: 20px;
	color: #FFFFFF;
	background-color: #033C5A;
	text-align: center;
}

#navbar-buttons {
	justify-content: right;
}

.nav {
	float: right;
}

.navbar-header {
	float:none !important;
}

#social-block{
	float:right;
	margin-top:2rem;
	margin-right:2rem
}
