/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lightbox
 *= require_tree .
 *= require_self
 */
body {
	margin: 8%;
}

div.container {
	/*width: 100%;*/
/*	margin: 0px;
	padding: 0px;*/
}

.block {
	display: block;
	clear: both;
	padding: 3%;
}

#main-carousel, #title {
	width: 50%;
	/*display: inline-block;*/
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 400px;
	width: 1000px;
}

#title {
	float: left;
}

#main-title {
	font-size: 600%;
	line-height: 100%;
}

#main-carousel {
	float: right;
	margin-bottom: 10%;
}

#mission {
<<<<<<< HEAD
	font-size: 175%;
	color: #FFFFFF;
	background-color: #033C5A;
=======
	font-size: 20px;
	color: gray;
	background-color: #EDE2CD;
>>>>>>> 9d636ee6a8d19b38260141ea5bb24d7079167ec9
	text-align: center;
}

#resources {
	padding: 30px 100px;
	margin: 0px;
}

#navbar-buttons {
	justify-content: right;
}

.nav {
	float: right;
}

.navbar-container {
	background-color: #033C5A !important;
}

.navbar-header {
	float:none !important;
}

.brand {
	margin-left: 20px;
	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: rgb(134, 191, 215) !important;
}

.social-icon > img {
	margin-top: 20px !important;
}

.social-icon {
	color: transparent !important;
  background-color: transparent !important;
}

#social-block{
	display:inline-block;
	float:right;
	margin-top:2rem;
	margin-right:2rem
}
