/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lightbox
 *= require_tree .
 *= require_self
 */

* {
	/*font-family: 'Open Sans', sans-serif !important; */
	font-family: 'Lato', sans-serif !important; */
}

.glyphicon {
	font-family: 'Glyphicons Halflings' !important;
}

body {
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 15%;
}

h2 {
	margin-top: 0%;
	text-align: center;
}

div.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: -120px;
}

.block {
	display: block;
	clear: both;
	padding: 3%;
}

#footer {
	background-color: #033C5A;
	color: white;
	padding: 25px;
	font-size: 18pt;
	line-height: 100%;
	width: 100% !important;
}

#footer-nested {
	font-size: 11pt;
	padding-top: 10px;
	padding-left: 30px;
}

#main-carousel, #title {
	width: 50%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 400px;
	width: 1000px;
}

.carousel-caption {
	padding-bottom: 0px;
}


#title {
	float: left;
}

#main-title {
	font-size: 600%;
	line-height: 100%;
}

#sub-title {
	font-size: 175%;
}

#main-carousel {
	float: right;
	margin-bottom: 25px;
}

#mission {
	font-size: 20px;
	line-height: 130%;
	color: gray;
	background-color: #EDE2CD;
	text-align: center;
}

#resources {
	padding: 30px 100px;
	margin: 0px;
}

.thumbnail .caption {
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: -58px;
	position: relative;
	z-index: 1;
	color: #FFFFFF;
}

#navbar-buttons {
	justify-content: right;
}

.nav {
	float: right;
}

.navbar-container {
	background-color: #033C5A !important;
}

.navbar-header {
	float:none !important;
}

.brand {
	margin-left: 50px;
	margin-top: 30px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: rgb(134, 191, 215) !important;
}

.social-icon > img {
	margin-top: 20px !important;
	margin-right: 15px !important;
}

.social-icon {
	color: transparent !important;
  background-color: transparent !important;
}

a:hover {
	color: black !important;
	background-color: transparent !important;
}

#social-block{
	display:inline-block;
	float:right;
	margin-top:2rem;
	margin-right:2rem
}


#intro {
	padding: 0px 100px !important;
}

#stats {
	text-align: center;
	padding: 0px !important;
}

#stats img {
	width: 100px;
	height: 100px;
}

.num {
	font-weight: bold;
	color: red;
}

#stats .col-md-4 {
	padding: 30px 0px;
}

/** custom styling **/

.search_dropdown {
	display: inline-block;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#search {
	padding-left: 20px;
}

th {
	padding-left: 250px !important;
}

tbody {
	padding-left: 100px;
}

tr, td, th
{
  border: 0 !important;
}

span#library {
	font-size: 250%;
	padding: 3%;
}

#query {
	margin-left: 2%;
}
